name: deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    
    steps:
      - uses: actions/checkout@v2
      
  docker:
    name: Deploy Docker Image
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push calculator Docker image
        env:
          RESULTPATH: result/
        run: |
          docker build -t $DOCKERHUB_USERNAME/calculator:latest -f Dockerfile.calculator .
          docker push $DOCKERHUB_USERNAME/calculator:latest
      
      - name: Build and push generator Docker image
        env:
          RESULTPATH: result/
        run: |
          docker build -t $DOCKERHUB_USERNAME/generator:latest -f Dockerfile.generator .
          docker push $DOCKERHUB_USERNAME/generator:latest
